<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yeni Makale Ekle</title>
  </head>
  <body>
    <h1>Yeni Makale Ekle</h1>
    <form action="/new-article" method="POST">
      <label for="title">Başlık:</label><br />
      <input type="text" id="title" name="title" /><br />
      <label for="content">İçerik:</label><br />
      <textarea id="content" name="content"></textarea><br /><br />
      <input type="submit" value="Ekle" />
    </form>
  </body>
</html>
