<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("./inc/head")%>
  </head>
  <body>
    <%-include("./inc/nav")%>
    <section>
      <h1>HAKKIMIZDA</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio
        sed totam assumenda in eaque autem dolore earum rerum nostrum!
      </p>
      <p></p>
    </section>
  </body>
</html>
