<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("./inc/head")%>
  </head>
  <body>
    <%-include("./inc/nav")%>
    <section>
      <h1>Yazılar</h1>
      <ul>
        <li>
          <a href="#">Blog1</a>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </li>
        <li>
          <a href="#">Blog2</a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </li>
        <li>
          <a href="#">Blog3</a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </li>
      </ul>
    </section>
  </body>
</html>
