<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Details</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>Movie Details</h1>
    </header>
    <div class="container">
      <!-- Gerekirse movie detaylarını buraya ekleyebilirsiniz -->
    </div>
  </body>
</html>
