<!-- views/movie.ejs -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Details</title>
    <!-- Gerekirse stil dosyalar覺n覺 buraya ekleyebilirsiniz -->
  </head>
  <body>
    <h1>Movie Details</h1>
    <!-- Gerekirse movie detaylar覺n覺 buraya ekleyebilirsiniz -->
  </body>
</html>
